!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "AHME Partnership Portal"
      %meta{:content => content_for?(:description) ? yield(:description) : "AHME", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      .row
        .large-3.large-offset-9.columns.current_user
          %a{:href => "/admin"}
            = current_user.name
      .large-12.columns
        %header
      #main{:role => "main"}
        = yield
      %footer
    / ! end of #container
